# Ratio Approach

In [1]:
import os
os.chdir("../../")

import numpy as np
import pandas as pd

from scripts.python.tsa.mtsmodel import *
from scripts.python.tsa.ts_eval import *

In [3]:
for country in ["palau", "samoa", "tonga", "solomon_islands", "vanuatu"]:
    
    mod = RatioPipe(country=country, data=None)
    print(f"\n{country.upper()}'s Official and Avaition Data.")
    mod.read_and_merge()
    
    print(f"\n Create Loaded Factor for {country.upper()}:")
    mod.transform()
    
    print(f"\n Regression {country.upper()}:")
    mod.fit()
    pred_df = mod.get_prediction_df()

    mean_pred, naive_pred = \
        mean_method(pred_df["total"]), naive_method(pred_df["total"])
    
    benchmark = pd.DataFrame()
    eval_name = ["mean", "naive", "ratio"]
    for idx, pred in zip(eval_name, [mean_pred, naive_pred, pred_df["pred_mean"]]):
        eval_df = pd.DataFrame(calculate_evaluation(pred_df["total"], pred), index=[idx])
        benchmark = pd.concat([benchmark, eval_df])
    display(benchmark)

PALAU's Official and Avaition Data.

 Create Loaded Factor for PALAU:
Abnormal value produced with a value of inf.

 Regression PALAU:
                            WLS Regression Results
==============================================================================
Dep. Variable:                  ratio   R-squared:                       0.762
Model:                            WLS   Adj. R-squared:                  0.717
Method:                 Least Squares   F-statistic:                     16.95
Date:                Thu, 11 May 2023   Prob (F-statistic):           8.36e-10
Time:                        15:37:50   Log-Likelihood:                 34.253
No. Observations:                  45   AIC:                            -52.51
Df Residuals:                      37   BIC:                            -38.05
Df Model:                           7
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                  0.4637      0.074      6.305      0.000       0.315       0.613
C(quarter)[T.2]           -0.0496      0.055     -0.908      0.370      -0.160       0.061
C(quarter)[T.3]            0.0487      0.056      0.865      0.392      -0.065       0.163
C(quarter)[T.4]            0.0115      0.059      0.196      0.846      -0.107       0.130
covid                     -0.5484      0.105     -5.240      0.000      -0.760      -0.336
stringency_index          -0.0087      0.003     -2.855      0.007      -0.015      -0.003
covid:stringency_index     0.0116      0.004      3.184      0.003       0.004       0.019
palau_travel               0.5390      0.178      3.029      0.004       0.178       0.900
==============================================================================
Omnibus:                        6.243   Durbin-Watson:                   0.575
Prob(Omnibus):                  0.044   Jarque-Bera (JB):                5.029
Skew:                           0.686   Prob(JB):                       0.0809
Kurtosis:                       3.894   Cond. No.                         574.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

,date,ratio,total,seats_arrivals_intl,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper,pred_mean
0,2019-01-01,0.561695,7329.0,13048.0,0.568387,0.051942,0.463144,0.673631,0.294774,0.842001,7416.318832
1,2019-02-01,0.734282,9752.0,13281.0,0.615828,0.047496,0.519592,0.712064,0.345551,0.886105,8178.810659
2,2019-03-01,0.701865,9033.0,12870.0,0.618136,0.047401,0.522092,0.714181,0.347928,0.888345,7955.416496
3,2019-04-01,0.777809,8405.0,10806.0,0.596816,0.048248,0.499057,0.694575,0.325993,0.867639,6449.194875
4,2019-05-01,0.651848,7478.0,11472.0,0.505042,0.059329,0.384831,0.625253,0.225330,0.784754,5793.840076

                MSE         RMSE          MAE       SMAPE
mean   1.219030e+07  3491.460526  3125.890370  130.888109
naive  1.298621e+06  1139.570483   677.477273   53.868245
ratio  4.945034e+05   703.209346   389.892735   40.776367

SAMOA's Official and Avaition Data.

 Create Loaded Factor for SAMOA:

 Regression SAMOA:
                            WLS Regression Results
==============================================================================
Dep. Variable:                  ratio   R-squared:                       0.850
Model:                            WLS   Adj. R-squared:                  0.822
Method:                 Least Squares   F-statistic:                     29.93
Date:                Thu, 11 May 2023   Prob (F-statistic):           2.19e-13
Time:                        15:37:51   Log-Likelihood:                 30.672
No. Observations:                  45   AIC:                            -45.34
Df Residuals:                      37   BIC:                            -30.89
Df Model:                           7
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                  0.3445      0.133      2.597      0.013       0.076       0.613
C(quarter)[T.2]            0.0400      0.062      0.646      0.522      -0.086       0.166
C(quarter)[T.3]            0.1385      0.062      2.221      0.033       0.012       0.265
C(quarter)[T.4]            0.0512      0.062      0.822      0.416      -0.075       0.177
covid                     -0.3052      0.116     -2.640      0.012      -0.539      -0.071
stringency_index          -0.0100      0.004     -2.260      0.030      -0.019      -0.001
covid:stringency_index     0.0047      0.006      0.828      0.413      -0.007       0.016
samoa_travel               0.2829      0.151      1.878      0.068      -0.022       0.588
==============================================================================
Omnibus:                       17.060   Durbin-Watson:                   0.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.071
Skew:                           1.093   Prob(JB):                     1.32e-06
Kurtosis:                       6.108   Cond. No.                         562.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

,date,ratio,total,seats_arrivals_intl,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper,pred_mean
0,2019-01-01,0.522368,13755.0,26332.0,0.621337,0.056744,0.506363,0.736310,0.324664,0.918009,16361.033442
1,2019-02-01,0.522171,9044.0,17320.0,0.546506,0.053121,0.438872,0.654139,0.252599,0.840412,9465.476885
2,2019-03-01,0.535575,11163.0,20843.0,0.527865,0.056717,0.412946,0.642784,0.231213,0.824517,11002.290740
3,2019-04-01,0.692899,14413.0,20801.0,0.573619,0.067122,0.437616,0.709622,0.268180,0.879057,11931.843012
4,2019-05-01,0.650818,13565.0,20843.0,0.661691,0.052208,0.555909,0.767474,0.368458,0.954925,13791.631497

                MSE         RMSE          MAE       SMAPE
mean   4.747392e+07  6890.131975  6027.062716  155.537953
naive  7.970104e+06  2823.137282  1518.795455   49.120902
ratio  2.107651e+06  1451.775046   763.990597  131.108537

TONGA's Official and Avaition Data.

 Create Loaded Factor for TONGA:

 Regression TONGA:
                            WLS Regression Results
==============================================================================
Dep. Variable:                  ratio   R-squared:                       0.939
Model:                            WLS   Adj. R-squared:                  0.924
Method:                 Least Squares   F-statistic:                     65.47
Date:                Thu, 11 May 2023   Prob (F-statistic):           1.99e-16
Time:                        15:37:51   Log-Likelihood:                 45.748
No. Observations:                  38   AIC:                            -75.50
Df Residuals:                      30   BIC:                            -62.40
Df Model:                           7
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                  0.6069      0.059     10.370      0.000       0.487       0.726
C(quarter)[T.2]            0.0409      0.044      0.935      0.357      -0.048       0.130
C(quarter)[T.3]            0.0151      0.042      0.355      0.725      -0.072       0.102
C(quarter)[T.4]            0.0319      0.041      0.770      0.447      -0.053       0.116
covid                     -0.5732      0.097     -5.914      0.000      -0.771      -0.375
stringency_index          -0.0100      0.002     -4.803      0.000      -0.014      -0.006
covid:stringency_index     0.0091      0.003      3.103      0.004       0.003       0.015
tonga_travel              -0.0418      0.164     -0.256      0.800      -0.376       0.292
==============================================================================
Omnibus:                       17.988   Durbin-Watson:                   1.679
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               82.995
Skew:                          -0.548   Prob(JB):                     9.50e-19
Kurtosis:                      10.157   Cond. No.                         719.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

,date,ratio,total,seats_arrivals_intl,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper,pred_mean
0,2019-01-01,0.318781,4688,14706.0,0.598405,0.036987,0.522867,0.673944,0.415241,0.781570,8800.151241
1,2019-02-01,0.632136,6157,9740.0,0.597249,0.035485,0.524779,0.669719,0.415329,0.779170,5817.208714
2,2019-03-01,0.848574,8686,10236.0,0.595672,0.034303,0.525617,0.665728,0.414700,0.776644,6097.302982
3,2019-04-01,0.725765,7704,10615.0,0.642278,0.040534,0.559496,0.725061,0.456010,0.828547,6817.786091
4,2019-05-01,0.573453,6800,11858.0,0.637493,0.034155,0.567738,0.707247,0.456637,0.818348,7559.386306

                MSE         RMSE          MAE       SMAPE
mean   1.368747e+07  3699.657587  3432.540166  154.297982
naive  1.776518e+06  1332.860792   647.945946   63.764255
ratio  8.925660e+05   944.757125   414.524955   98.318381

SOLOMON_ISLANDS's Official and Avaition Data.

 Create Loaded Factor for SOLOMON_ISLANDS:

 Regression SOLOMON_ISLANDS:
                            WLS Regression Results
==============================================================================
Dep. Variable:                  ratio   R-squared:                       0.939
Model:                            WLS   Adj. R-squared:                  0.913
Method:                 Least Squares   F-statistic:                     35.46
Date:                Thu, 11 May 2023   Prob (F-statistic):           1.40e-08
Time:                        15:37:52   Log-Likelihood:                 54.264
No. Observations:                  24   AIC:                            -92.53
Df Residuals:                      16   BIC:                            -83.10
Df Model:                           7
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                  0.1952      0.028      6.905      0.000       0.135       0.255
C(quarter)[T.2]            0.0428      0.024      1.759      0.098      -0.009       0.094
C(quarter)[T.3]            0.0665      0.022      3.085      0.007       0.021       0.112
C(quarter)[T.4]            0.0482      0.023      2.138      0.048       0.000       0.096
covid                     -0.2140      0.058     -3.680      0.002      -0.337      -0.091
stringency_index          -0.0020      0.001     -2.276      0.037      -0.004      -0.000
covid:stringency_index     0.0019      0.001      1.329      0.203      -0.001       0.005
solomon_islands_travel     0.0675      0.118      0.572      0.575      -0.182       0.317
==============================================================================
Omnibus:                        0.367   Durbin-Watson:                   2.836
Prob(Omnibus):                  0.832   Jarque-Bera (JB):                0.442
Skew:                           0.252   Prob(JB):                        0.802
Kurtosis:                       2.567   Cond. No.                         944.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

,date,ratio,total,seats_arrivals_intl,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper,pred_mean
0,2019-01-01,0.174372,1750,10036.0,0.212880,0.017319,0.176165,0.249595,0.137798,0.287962,2136.464988
1,2019-02-01,0.199662,1891,9471.0,0.208311,0.015656,0.175121,0.241501,0.134889,0.281734,1972.917412
2,2019-03-01,0.245332,2378,9693.0,0.201838,0.019636,0.160211,0.243464,0.124236,0.279439,1956.411325
3,2019-04-01,0.220940,2106,9532.0,0.242741,0.016423,0.207926,0.277556,0.168570,0.316912,2313.809745
4,2019-05-01,0.246881,2434,9859.0,0.252211,0.019415,0.211054,0.293368,0.174860,0.329562,2486.545575

                MSE         RMSE          MAE       SMAPE
mean   1.290167e+06  1135.855000  1065.215278  100.969388
naive  1.721267e+05   414.881597   268.478261   46.835106
ratio  4.875343e+04   220.801780   150.232442   26.614403

VANUATU's Official and Avaition Data.

 Create Loaded Factor for VANUATU:

 Regression VANUATU:
                            WLS Regression Results
==============================================================================
Dep. Variable:                  ratio   R-squared:                       0.951
Model:                            WLS   Adj. R-squared:                  0.941
Method:                 Least Squares   F-statistic:                     91.83
Date:                Thu, 11 May 2023   Prob (F-statistic):           8.77e-20
Time:                        15:37:53   Log-Likelihood:                 51.937
No. Observations:                  41   AIC:                            -87.87
Df Residuals:                      33   BIC:                            -74.17
Df Model:                           7
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                  0.4385      0.063      6.927      0.000       0.310       0.567
C(quarter)[T.2]            0.0116      0.034      0.340      0.736      -0.058       0.081
C(quarter)[T.3]            0.1111      0.034      3.237      0.003       0.041       0.181
C(quarter)[T.4]            0.0918      0.038      2.429      0.021       0.015       0.169
covid                     -0.4884      0.078     -6.281      0.000      -0.647      -0.330
stringency_index          -0.0052      0.002     -2.649      0.012      -0.009      -0.001
covid:stringency_index     0.0037      0.003      1.470      0.151      -0.001       0.009
vanuatu_travel             0.2449      0.083      2.939      0.006       0.075       0.414
==============================================================================
Omnibus:                        0.423   Durbin-Watson:                   1.285
Prob(Omnibus):                  0.809   Jarque-Bera (JB):                0.142
Skew:                           0.144   Prob(JB):                        0.931
Kurtosis:                       3.025   Cond. No.                         502.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

,date,ratio,total,seats_arrivals_intl,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper,pred_mean
0,2019-01-01,0.514218,9548.0,18568.0,0.588312,0.029328,0.528643,0.647980,0.422595,0.754029,10923.776403
1,2019-02-01,0.426535,5835.0,13680.0,0.572673,0.030753,0.510106,0.635239,0.405890,0.739455,7834.160478
2,2019-03-01,0.475565,7026.0,14774.0,0.599281,0.028877,0.540530,0.658033,0.433893,0.764670,8853.783974
3,2019-04-01,0.553277,9445.0,17071.0,0.637386,0.030901,0.574518,0.700254,0.470490,0.804281,10880.813055
4,2019-05-01,0.498628,8359.0,16764.0,0.609568,0.030275,0.547974,0.671163,0.443148,0.775988,10218.804304

                MSE         RMSE          MAE       SMAPE
mean   2.273834e+07  4768.473803  4264.861006  156.566459
naive  2.446383e+06  1564.091833   808.452381   45.153360
ratio  6.686460e+05   817.707761   520.156920  128.001919